*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
a{
    
    padding: 100px;
}
.fundo1{
    background-color: #8cb2f0;
}
.foto{
    text-align: center;
}
.fundo2{
    background-color: #8cb2f0;
}